# PANDAS

__Pandas__ is a powerful _open-source_ data manipulation and analysis library for _Python_. 

It provides data structures and functions for efficiently __handling and analyzing structured data__, such as tables or spreadsheets.

With __pandas__, you can easily _load_, _manipulate_, _analyze data_, perform _data cleaning_ and _preprocessing_ tasks, and create _visualizations_.

It is widely used in _data science_, _machine learning_, and _data analysis_ projects.

To import the pandas library and assigns it the alias 'pd', you could make `import pandas as pd`.

## The Series Data Structure

A __pandas Series__ is a _one-dimensional labeled array_ capable of holding any data type. It is similar to a _column_ in a spreadsheet or a SQL table, or a _dictionary-like_ object. It is a fundamental _data structure_ in __pandas__ library, which is widely used for data manipulation and analysis in Python.

A __pandas Series__ consists of two main components: the _data_ and the _index_. The _data_ can be of any type, such as integers, floats, strings, or even complex objects. The _index_ is a sequence of labels that uniquely identifies each element in the Series.

Some key features of pandas Series include:
- Vectorized operations: Series supports vectorized operations, allowing you to perform element-wise computations efficiently.
- Label-based indexing: You can access elements in a Series using labels instead of integer-based indexing.
- Alignment: Series automatically aligns data based on the index, making it easy to perform operations on multiple Series with different indexes.

To create a __Series__, you can pass a list, array, or dictionary-like object to the `pd.Series()` constructor. You can also specify custom index labels if needed.

In [2]:
import pandas as pd

# Create a Series object from a list of strings
list_strings = ['a', 'b', 'c', 'd', 'e']
serie_1 = pd.Series(list_strings)
print("Serie 1:", serie_1)

# Create a Series object from a list of numbers
list_numbers = [1, 2, 3, 4, 5]
serie_2 = pd.Series(list_numbers)
print("Serie 2:", serie_2)

# Create a Series object from a list of numbers with a None value
list_numbers_with_none = [1, 2, None, 4, 5]
serie_3 = pd.Series(list_numbers_with_none)
print("Serie 3:", serie_3)

Serie 1: 0    a
1    b
2    c
3    d
4    e
dtype: object
Serie 2: 0    1
1    2
2    3
3    4
4    5
dtype: int64
Serie 3: 0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64

In [3]:
# Create a Series object from a dictionary
dict_data = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
serie_4 = pd.Series(dict_data)
print("Serie 4:", serie_4)

# Get the values of the Series index
print("Serie 4 index:", serie_4.index)

Serie 4: a    1
b    2
c    3
d    4
e    5
dtype: int64
Serie 4 index: Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [4]:
# Create a series object from a list of tuple pairs
list_tuples = [('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]
serie_5 = pd.Series(list_tuples)
print("Serie 5:", serie_5)

Serie 5: 0    (a, 1)
1    (b, 2)
2    (c, 3)
3    (d, 4)
4    (e, 5)
dtype: object

In [5]:
# Create a series object from a list as values and a list as index
list_index = ['a', 'b', 'c', 'd', 'e']
list_values = [1, 2, 3, 4, 5]
serie_6 = pd.Series(list_values, index=list_index)
print("Serie 6:\n", serie_6)

for index, value in serie_6.items():
    print(f"Index: {index}, Value: {value}")

Serie 6:
 a    1
b    2
c    3
d    4
e    5
dtype: int64
Index: a, Value: 1
Index: b, Value: 2
Index: c, Value: 3
Index: d, Value: 4
Index: e, Value: 5

In [6]:
# Query a Series object by boolean indexing
print("Serie 6 > 2:", serie_6[serie_6 > 2])
print("-"*10)
print(serie_6 > 2)

Serie 6 > 2: c    3
d    4
e    5
dtype: int64
----------
a    False
b    False
c     True
d     True
e     True
dtype: bool

In [7]:
# Query a Series object by faccy indexing
print("Serie 6[['a', 'b']]:", serie_6[['a', 'b']])

Serie 6[['a', 'b']]: a    1
b    2
dtype: int64

In [8]:
# Query a Series object using loc[]
print("Serie 6.loc[['a', 'b']]:", serie_6.loc[['a', 'b']])

Serie 6.loc[['a', 'b']]: a    1
b    2
dtype: int64

In [9]:
# Query a Series object using iloc[]
print("Serie 6.iloc[0:3]:", serie_6.iloc[0:3])

Serie 6.iloc[0:3]: a    1
b    2
c    3
dtype: int64

## The DataFrame Data Structure

A __pandas DataFrame__ is a _two-dimensional_, _labeled_ data structure in _Python_ that is commonly used for _data manipulation and analysis_. It consists of _rows_ and _columns_, similar to a table in a relational database.

The __DataFrame__ can store _heterogeneous data types_ and provides various operations and functions to perform data manipulation, filtering, grouping, and statistical analysis.

To access and manipulate the data in the __DataFrame__, you can use various _methods_ and _attributes_ provided by the __pandas__ library.

For more information on __pandas DataFrame__, refer to the [official pandas documentation](https://pandas.pydata.org/docs/reference/frame.html).

In [10]:
# create dataframes from lists
list_example = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
df = pd.DataFrame(list_example)
print("Dataframe from list:", df)
print("Dataframe from list shape:", df.shape)
print("Dataframe from list columns:", df.columns)
print("Dataframe from list index:", df.index)

Dataframe from list:    0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
Dataframe from list shape: (3, 3)
Dataframe from list columns: RangeIndex(start=0, stop=3, step=1)
Dataframe from list index: RangeIndex(start=0, stop=3, step=1)

In [11]:
# create a dataframe from a list of dictionaries
list_dict = [{'a': 1, 'b': 2, 'c': 3}, {'a': 4, 'b': 5, 'c': 6}, {'a': 7, 'b': 8, 'c': 9}]
df = pd.DataFrame(list_dict)
print("Dataframe from list of dictionaries:", df)
print("Dataframe from list columns:", df.columns)
print("Dataframe from list index:", df.index)

Dataframe from list of dictionaries:    a  b  c
0  1  2  3
1  4  5  6
2  7  8  9
Dataframe from list columns: Index(['a', 'b', 'c'], dtype='object')
Dataframe from list index: RangeIndex(start=0, stop=3, step=1)

In [12]:
# create a dataframe from a csv file
df_csv = pd.read_csv('csv-files/StudentsInfo.csv')
print(df_csv.head())

            Name                         Company                     Position  \
0  Alice Johnson  Hernandez, Griffith and Nelson           Petroleum engineer
1    David Jones                    Gomez-Garcia       Geologist, engineering
2      Eva Brown                     Blevins LLC               Microbiologist
3    Frank Davis                   Greene-Wilson     Museum education officer
4  Jack Anderson                      Butler PLC  Scientist, research (maths)

   Salary
0    4740
1   73329
2   83245
3   74390
4   69851

In [13]:
# create a dataframe from a json file
df_json = pd.read_json('json-files/StudentsInfo.json')
print(df_json.head())

   id            name                  career                college
0   1   Alice Johnson        Computer Science        Tech University
1   2       Bob Smith  Mechanical Engineering  Engineering Institute
2   3  Carol Williams  Electrical Engineering        Tech University
3   4     David Jones                 Biology        Science College
4   5       Eva Brown                 Physics        Tech University

In [14]:
# describe a dataframe
print("Dataframe csv describe:\n", df_csv.describe())
print("*"*10)
print("Dataframe json describe:\n", df_json.describe())

Dataframe csv describe:
              Salary
count     30.000000
mean   53491.600000
std    27432.862783
min     4740.000000
25%    27472.000000
50%    64104.000000
75%    72981.250000
max    93995.000000
**********
Dataframe json describe:
              id
count  50.00000
mean   25.50000
std    14.57738
min     1.00000
25%    13.25000
50%    25.50000
75%    37.75000
max    50.00000

In [15]:
# get information about a dataframe
print("Dataframe csv info:\n", df_csv.info())
print("="*50)
print("Dataframe json info:\n", df_json.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      30 non-null     object
 1   Company   30 non-null     object
 2   Position  30 non-null     object
 3   Salary    30 non-null     int64
dtypes: int64(1), object(3)
memory usage: 1.1+ KB
Dataframe csv info:
 None
==================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       50 non-null     int64
 1   name     50 non-null     object
 2   career   50 non-null     object
 3   college  50 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.7+ KB
Dataframe json info:
 None

In [16]:
# indexes and columns
df_changed_index = df_csv.set_index('Name')
print("Dataframe csv changed index:\n", df_changed_index.head())
print("*"*50)
print("Dataframe csv changed index columns:\n", df_changed_index.columns)
print("Dataframe csv changed index index:\n", df_changed_index.index)

Dataframe csv changed index:
                                       Company                     Position  \
Name
Alice Johnson  Hernandez, Griffith and Nelson           Petroleum engineer
David Jones                      Gomez-Garcia       Geologist, engineering
Eva Brown                         Blevins LLC               Microbiologist
Frank Davis                     Greene-Wilson     Museum education officer
Jack Anderson                      Butler PLC  Scientist, research (maths)

               Salary
Name
Alice Johnson    4740
David Jones     73329
Eva Brown       83245
Frank Davis     74390
Jack Anderson   69851
**************************************************
Dataframe csv changed index columns:
 Index(['Company', 'Position', 'Salary'], dtype='object')
Dataframe csv changed index index:
 Index(['Alice Johnson', 'David Jones', 'Eva Brown', 'Frank Davis',
       'Jack Anderson', 'Kylie Thomas', 'Mia White', 'Noah Harris',
       'Olivia Martin', 'Peyton Garcia', 'Quinn Robinson', 'Ryan Clark',
       'Tyler Walker', 'Uma King', 'Victor Lee', 'Wendy Hall', 'Xavier Young',
       'Yara Scott', 'Amy Campbell', 'Brian Mitchell', 'Elena Roberts',
       'Felix Turner', 'Gina Phillips', 'Hugo Martinez', 'Leo Howard',
       'Riley Green', 'Samantha Gonzalez', 'Travis Ward', 'Ulysses Simmons',
       'Vivian Cook'],
      dtype='object', name='Name')

In [17]:
# rename columns
df_renamed = df_csv.rename(columns={'Salary': 'Salary (USD/year)'})
df_renamed.head()

,Name,Company,Position,Salary (USD/year)
0,Alice Johnson,"Hernandez, Griffith and Nelson",Petroleum engineer,4740
1,David Jones,Gomez-Garcia,"Geologist, engineering",73329
2,Eva Brown,Blevins LLC,Microbiologist,83245
3,Frank Davis,Greene-Wilson,Museum education officer,74390
4,Jack Anderson,Butler PLC,"Scientist, research (maths)",69851

## Using Datetime into Pandas

In [18]:
# converting a column to datetime with to_datetime()
sales_df = pd.read_json('json-files/sales_data.json')
print("Sales dataframe:\n", sales_df.info())
print(sales_df[sales_df['code'] == "Sale-4594-TuGI"])
sales_df = sales_df.replace('2008-Dic-23', '2008-12-23')
print("*"*50)
sales_df['date'] = pd.to_datetime(sales_df['date'])
print("Sales dataframe with Date column as datetime:\n", sales_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   code         1000 non-null   object
 1   client       1000 non-null   object
 2   total_price  1000 non-null   float64
 3   date         1000 non-null   object
 4   hour         1000 non-null   object
 5   credit_card  1000 non-null   int64
dtypes: float64(1), int64(1), object(4)
memory usage: 47.0+ KB
Sales dataframe:
 None
              code         client  total_price         date      hour  \
24  Sale-4594-TuGI  Patrick Meyer       150.19  2008-Dic-23  07:32:54

     credit_card
24  569507527095
**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   code         1000 non-null   object
 1   client       1000 non-null   object
 2   total_price  1000 non-null   float64
 3   date         1000 non-null   datetime64[ns]
 4   hour         1000 non-null   object
 5   credit_card  1000 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 47.0+ KB
Sales dataframe with Date column as datetime:
 None

In [19]:
# converting a column from datetime to string with strftime()
sales_df['date_full'] = sales_df['date'].dt.strftime('%Y-%b-%d') + " " + sales_df['hour']
print(sales_df.head())

             code           client  total_price       date      hour  \
0  Sale-1117-HdZH        Gary Meza       832.48 2024-06-03  08:13:18
1  Sale-5078-hqkc     Carol Martin       156.29 2014-08-22  02:57:20
2  Sale-8209-xGVn   Jeremy Spencer       832.05 1979-05-22  02:10:06
3  Sale-9093-bfcp  Pamela Anderson       166.57 1973-12-24  21:28:34
4  Sale-8141-KGOb    Kenneth Marsh       498.43 1974-03-14  03:55:36

        credit_card             date_full
0  6011811575065598  2024-Jun-03 08:13:18
1  6536303182814044  2014-Aug-22 02:57:20
2   213185615148626  1979-May-22 02:10:06
3  3558512811558836  1973-Dec-24 21:28:34
4  2239583806605394  1974-Mar-14 03:55:36

In [20]:
# converting a column from datetime to a timestamp with timestamp()
sales_df['timestamp'] = pd.to_datetime(sales_df['date_full']).apply(lambda x: x.timestamp())
print(sales_df.head())
sales_df['timestamp'] = sales_df['timestamp'].astype('int64')
print("="*50)
print(sales_df.head())

             code           client  total_price       date      hour  \
0  Sale-1117-HdZH        Gary Meza       832.48 2024-06-03  08:13:18
1  Sale-5078-hqkc     Carol Martin       156.29 2014-08-22  02:57:20
2  Sale-8209-xGVn   Jeremy Spencer       832.05 1979-05-22  02:10:06
3  Sale-9093-bfcp  Pamela Anderson       166.57 1973-12-24  21:28:34
4  Sale-8141-KGOb    Kenneth Marsh       498.43 1974-03-14  03:55:36

        credit_card             date_full     timestamp
0  6011811575065598  2024-Jun-03 08:13:18  1.717402e+09
1  6536303182814044  2014-Aug-22 02:57:20  1.408676e+09
2   213185615148626  1979-May-22 02:10:06  2.961870e+08
3  3558512811558836  1973-Dec-24 21:28:34  1.256165e+08
4  2239583806605394  1974-Mar-14 03:55:36  1.324653e+08
==================================================
             code           client  total_price       date      hour  \
0  Sale-1117-HdZH        Gary Meza       832.48 2024-06-03  08:13:18
1  Sale-5078-hqkc     Carol Martin       156.29 2014-08-22  02:57:20
2  Sale-8209-xGVn   Jeremy Spencer       832.05 1979-05-22  02:10:06
3  Sale-9093-bfcp  Pamela Anderson       166.57 1973-12-24  21:28:34
4  Sale-8141-KGOb    Kenneth Marsh       498.43 1974-03-14  03:55:36

        credit_card             date_full   timestamp
0  6011811575065598  2024-Jun-03 08:13:18  1717402398
1  6536303182814044  2014-Aug-22 02:57:20  1408676240
2   213185615148626  1979-May-22 02:10:06   296187006
3  3558512811558836  1973-Dec-24 21:28:34   125616514
4  2239583806605394  1974-Mar-14 03:55:36   132465336

In [21]:
print(sales_df.describe())

       total_price                        date   credit_card     timestamp
count  1000.000000                        1000  1.000000e+03  1.000000e+03
mean    489.713800  1996-04-08 06:48:57.600000  3.550223e+17  8.289886e+08
min      11.850000         1970-01-09 00:00:00  6.044392e+10  7.680400e+05
25%     226.677500         1982-09-14 06:00:00  1.800112e+14  4.008824e+08
50%     486.430000         1995-11-17 12:00:00  3.520377e+15  8.166286e+08
75%     732.752500         2009-05-24 06:00:00  4.632459e+15  1.243203e+09
max     999.710000         2024-06-03 00:00:00  4.997675e+18  1.717402e+09
std     288.791957                         NaN  1.215563e+18  4.951866e+08

In [22]:
%%timeit -n 100
import numpy as np

print(np.round(np.sum(sales_df['total_price']), 3))

489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8

489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
1.21 ms ± 204 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [23]:
%%timeit -n 100
import numpy as np
total = 0
for price in sales_df['total_price']:
    total += price
print(np.round(total, 3))

489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
489713.8
2.09 ms ± 361 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

## Queries and Transformations

In [24]:
# drop a column
sales_copy_df = sales_df.copy()
print(sales_copy_df.columns)
sales_copy_df = sales_copy_df.drop(columns=['timestamp'], axis=1)
sales_copy_df.head()

Index(['code', 'client', 'total_price', 'date', 'hour', 'credit_card',
       'date_full', 'timestamp'],
      dtype='object')

,code,client,total_price,date,hour,credit_card,date_full
0,Sale-1117-HdZH,Gary Meza,832.48,2024-06-03,08:13:18,6011811575065598,2024-Jun-03 08:13:18
1,Sale-5078-hqkc,Carol Martin,156.29,2014-08-22,02:57:20,6536303182814044,2014-Aug-22 02:57:20
2,Sale-8209-xGVn,Jeremy Spencer,832.05,1979-05-22,02:10:06,213185615148626,1979-May-22 02:10:06
3,Sale-9093-bfcp,Pamela Anderson,166.57,1973-12-24,21:28:34,3558512811558836,1973-Dec-24 21:28:34
4,Sale-8141-KGOb,Kenneth Marsh,498.43,1974-03-14,03:55:36,2239583806605394,1974-Mar-14 03:55:36

In [25]:

# drop a row
sales_df = sales_df.set_index('code')
sales_copy_df = sales_df.copy()
sales_copy_df['country'] = 'Colombia'
print(sales_copy_df.head())
sales_copy_df = sales_copy_df.drop(index='Sale-8141-KGOb')
sales_copy_df.head()

                         client  total_price       date      hour  \
code
Sale-1117-HdZH        Gary Meza       832.48 2024-06-03  08:13:18
Sale-5078-hqkc     Carol Martin       156.29 2014-08-22  02:57:20
Sale-8209-xGVn   Jeremy Spencer       832.05 1979-05-22  02:10:06
Sale-9093-bfcp  Pamela Anderson       166.57 1973-12-24  21:28:34
Sale-8141-KGOb    Kenneth Marsh       498.43 1974-03-14  03:55:36

                     credit_card             date_full   timestamp   country
code
Sale-1117-HdZH  6011811575065598  2024-Jun-03 08:13:18  1717402398  Colombia
Sale-5078-hqkc  6536303182814044  2014-Aug-22 02:57:20  1408676240  Colombia
Sale-8209-xGVn   213185615148626  1979-May-22 02:10:06   296187006  Colombia
Sale-9093-bfcp  3558512811558836  1973-Dec-24 21:28:34   125616514  Colombia
Sale-8141-KGOb  2239583806605394  1974-Mar-14 03:55:36   132465336  Colombia

,client,total_price,date,hour,credit_card,date_full,timestamp,country
code,,,,,,,,
Sale-1117-HdZH,Gary Meza,832.48,2024-06-03,08:13:18,6011811575065598,2024-Jun-03 08:13:18,1717402398,Colombia
Sale-5078-hqkc,Carol Martin,156.29,2014-08-22,02:57:20,6536303182814044,2014-Aug-22 02:57:20,1408676240,Colombia
Sale-8209-xGVn,Jeremy Spencer,832.05,1979-05-22,02:10:06,213185615148626,1979-May-22 02:10:06,296187006,Colombia
Sale-9093-bfcp,Pamela Anderson,166.57,1973-12-24,21:28:34,3558512811558836,1973-Dec-24 21:28:34,125616514,Colombia
Sale-7567-cCLb,William Smith,857.13,2016-07-04,18:26:22,3541411469135312,2016-Jul-04 18:26:22,1467656782,Colombia

In [26]:
# query a dataframe by column
clients = sales_df['client']
print(type(clients))
print(clients.head())

<class 'pandas.core.series.Series'>
code
Sale-1117-HdZH          Gary Meza
Sale-5078-hqkc       Carol Martin
Sale-8209-xGVn     Jeremy Spencer
Sale-9093-bfcp    Pamela Anderson
Sale-8141-KGOb      Kenneth Marsh
Name: client, dtype: object

In [27]:
# query a dataframe by row with loc
sales_df.loc['Sale-8209-xGVn', ['client', 'date']]

client         Jeremy Spencer
date      1979-05-22 00:00:00
Name: Sale-8209-xGVn, dtype: object

In [28]:
# query a dataframe by row with iloc
sales_df.iloc[2:5]

,client,total_price,date,hour,credit_card,date_full,timestamp
code,,,,,,,
Sale-8209-xGVn,Jeremy Spencer,832.05,1979-05-22,02:10:06,213185615148626,1979-May-22 02:10:06,296187006
Sale-9093-bfcp,Pamela Anderson,166.57,1973-12-24,21:28:34,3558512811558836,1973-Dec-24 21:28:34,125616514
Sale-8141-KGOb,Kenneth Marsh,498.43,1974-03-14,03:55:36,2239583806605394,1974-Mar-14 03:55:36,132465336

In [29]:
# query a dataframe using a boolean mask
sales_df[sales_df['total_price'] > 600].head()

,client,total_price,date,hour,credit_card,date_full,timestamp
code,,,,,,,
Sale-1117-HdZH,Gary Meza,832.48,2024-06-03,08:13:18,6011811575065598,2024-Jun-03 08:13:18,1717402398
Sale-8209-xGVn,Jeremy Spencer,832.05,1979-05-22,02:10:06,213185615148626,1979-May-22 02:10:06,296187006
Sale-7567-cCLb,William Smith,857.13,2016-07-04,18:26:22,3541411469135312,2016-Jul-04 18:26:22,1467656782
Sale-1256-GSGV,Travis Reid,913.50,1987-01-01,12:19:45,30435866051594,1987-Jan-01 12:19:45,536501985
Sale-2412-paxo,James Harris,620.80,1970-09-29,09:31:03,4619378591392526336,1970-Sep-29 09:31:03,23448663

In [30]:
sales_df[(sales_df['total_price'] > 600) & (sales_df['date'] > '2016-01-01')].head()

,client,total_price,date,hour,credit_card,date_full,timestamp
code,,,,,,,
Sale-1117-HdZH,Gary Meza,832.48,2024-06-03,08:13:18,6011811575065598,2024-Jun-03 08:13:18,1717402398
Sale-7567-cCLb,William Smith,857.13,2016-07-04,18:26:22,3541411469135312,2016-Jul-04 18:26:22,1467656782
Sale-1938-dqto,Christopher Green DDS,994.77,2023-09-19,12:54:28,4569498359626448,2023-Sep-19 12:54:28,1695128068
Sale-5358-yFiM,Gene Davis,871.66,2023-06-18,18:04:39,36076121497968,2023-Jun-18 18:04:39,1687111479
Sale-8546-Mwsg,William Payne,915.85,2019-09-25,02:57:57,30108709853944,2019-Sep-25 02:57:57,1569380277

In [31]:
# change all column names to Capital Case
sales_df.columns = sales_df.columns.str.capitalize()
sales_df.head()

,Client,Total_price,Date,Hour,Credit_card,Date_full,Timestamp
code,,,,,,,
Sale-1117-HdZH,Gary Meza,832.48,2024-06-03,08:13:18,6011811575065598,2024-Jun-03 08:13:18,1717402398
Sale-5078-hqkc,Carol Martin,156.29,2014-08-22,02:57:20,6536303182814044,2014-Aug-22 02:57:20,1408676240
Sale-8209-xGVn,Jeremy Spencer,832.05,1979-05-22,02:10:06,213185615148626,1979-May-22 02:10:06,296187006
Sale-9093-bfcp,Pamela Anderson,166.57,1973-12-24,21:28:34,3558512811558836,1973-Dec-24 21:28:34,125616514
Sale-8141-KGOb,Kenneth Marsh,498.43,1974-03-14,03:55:36,2239583806605394,1974-Mar-14 03:55:36,132465336

In [32]:
print(sales_df.head())
sales_df = sales_df.reset_index()
sales_df.head()

                         Client  Total_price       Date      Hour  \
code
Sale-1117-HdZH        Gary Meza       832.48 2024-06-03  08:13:18
Sale-5078-hqkc     Carol Martin       156.29 2014-08-22  02:57:20
Sale-8209-xGVn   Jeremy Spencer       832.05 1979-05-22  02:10:06
Sale-9093-bfcp  Pamela Anderson       166.57 1973-12-24  21:28:34
Sale-8141-KGOb    Kenneth Marsh       498.43 1974-03-14  03:55:36

                     Credit_card             Date_full   Timestamp
code
Sale-1117-HdZH  6011811575065598  2024-Jun-03 08:13:18  1717402398
Sale-5078-hqkc  6536303182814044  2014-Aug-22 02:57:20  1408676240
Sale-8209-xGVn   213185615148626  1979-May-22 02:10:06   296187006
Sale-9093-bfcp  3558512811558836  1973-Dec-24 21:28:34   125616514
Sale-8141-KGOb  2239583806605394  1974-Mar-14 03:55:36   132465336

,code,Client,Total_price,Date,Hour,Credit_card,Date_full,Timestamp
0,Sale-1117-HdZH,Gary Meza,832.48,2024-06-03,08:13:18,6011811575065598,2024-Jun-03 08:13:18,1717402398
1,Sale-5078-hqkc,Carol Martin,156.29,2014-08-22,02:57:20,6536303182814044,2014-Aug-22 02:57:20,1408676240
2,Sale-8209-xGVn,Jeremy Spencer,832.05,1979-05-22,02:10:06,213185615148626,1979-May-22 02:10:06,296187006
3,Sale-9093-bfcp,Pamela Anderson,166.57,1973-12-24,21:28:34,3558512811558836,1973-Dec-24 21:28:34,125616514
4,Sale-8141-KGOb,Kenneth Marsh,498.43,1974-03-14,03:55:36,2239583806605394,1974-Mar-14 03:55:36,132465336

In [33]:
# get availables values in a column
print(sales_df['Date'].size)
print(sales_df['Date'].unique())

1000
<DatetimeArray>
['2024-06-03 00:00:00', '2014-08-22 00:00:00', '1979-05-22 00:00:00',
 '1973-12-24 00:00:00', '1974-03-14 00:00:00', '2016-07-04 00:00:00',
 '2010-07-18 00:00:00', '1988-11-18 00:00:00', '1987-01-01 00:00:00',
 '2017-11-06 00:00:00',
 ...
 '2012-10-15 00:00:00', '1994-02-06 00:00:00', '2003-08-16 00:00:00',
 '2018-09-26 00:00:00', '2007-12-19 00:00:00', '2002-10-24 00:00:00',
 '1999-06-29 00:00:00', '1991-11-27 00:00:00', '1979-07-07 00:00:00',
 '1972-03-07 00:00:00']
Length: 981, dtype: datetime64[ns]

In [34]:
# query a dataframe using query()
sales_df.query('Total_price > 600').head()

,code,Client,Total_price,Date,Hour,Credit_card,Date_full,Timestamp
0,Sale-1117-HdZH,Gary Meza,832.48,2024-06-03,08:13:18,6011811575065598,2024-Jun-03 08:13:18,1717402398
2,Sale-8209-xGVn,Jeremy Spencer,832.05,1979-05-22,02:10:06,213185615148626,1979-May-22 02:10:06,296187006
5,Sale-7567-cCLb,William Smith,857.13,2016-07-04,18:26:22,3541411469135312,2016-Jul-04 18:26:22,1467656782
8,Sale-1256-GSGV,Travis Reid,913.50,1987-01-01,12:19:45,30435866051594,1987-Jan-01 12:19:45,536501985
12,Sale-2412-paxo,James Harris,620.80,1970-09-29,09:31:03,4619378591392526336,1970-Sep-29 09:31:03,23448663

In [35]:
sales_df.query('Total_price > 600 and Date > "2016-01-01"').head()

,code,Client,Total_price,Date,Hour,Credit_card,Date_full,Timestamp
0,Sale-1117-HdZH,Gary Meza,832.48,2024-06-03,08:13:18,6011811575065598,2024-Jun-03 08:13:18,1717402398
5,Sale-7567-cCLb,William Smith,857.13,2016-07-04,18:26:22,3541411469135312,2016-Jul-04 18:26:22,1467656782
18,Sale-1938-dqto,Christopher Green DDS,994.77,2023-09-19,12:54:28,4569498359626448,2023-Sep-19 12:54:28,1695128068
59,Sale-5358-yFiM,Gene Davis,871.66,2023-06-18,18:04:39,36076121497968,2023-Jun-18 18:04:39,1687111479
81,Sale-8546-Mwsg,William Payne,915.85,2019-09-25,02:57:57,30108709853944,2019-Sep-25 02:57:57,1569380277

In [36]:
# get missing values using isnull()
call_center_df = pd.read_json('json-files/call_center_comments.json')
print(call_center_df.info())
print("*"*50)
print(call_center_df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 8 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   code               1000000 non-null  object
 1   client             1000000 non-null  object
 2   product            1000000 non-null  object
 3   date_time          979847 non-null   datetime64[ns]
 4   attention_time     950263 non-null   float64
 5   comment            1000000 non-null  object
 6   country_of_origin  1000000 non-null  object
 7   city               858525 non-null   object
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 61.0+ MB
None
**************************************************
code                      0
client                    0
product                   0
date_time             20153
attention_time        49737
comment                   0
country_of_origin         0
city                 141475
dtype: int64

In [37]:
# fill missing values using fillna()
# fill missing attention_time with average time
import numpy as np
call_center_filled_df = call_center_df.copy()
call_center_filled_df['attention_time'] = call_center_filled_df['attention_time'].fillna(np.mean(call_center_df['attention_time']))
print(call_center_filled_df.isnull().sum())

# fill missing city with not reported
call_center_filled_df['city'] = call_center_filled_df['city'].fillna('Not reported')
print(call_center_filled_df.isnull().sum())

# fill missing values using fillna() in date_time column with interopolation
call_center_filled_df['date_time'] = call_center_filled_df['date_time'].interpolate()
print(call_center_filled_df.isnull().sum())
print(call_center_filled_df.info())
call_center_filled_df.head()

code                      0
client                    0
product                   0
date_time             20153
attention_time            0
comment                   0
country_of_origin         0
city                 141475
dtype: int64
code                     0
client                   0
product                  0
date_time            20153
attention_time           0
comment                  0
country_of_origin        0
city                     0
dtype: int64
code                 0
client               0
product              0
date_time            0
attention_time       0
comment              0
country_of_origin    0
city                 0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 8 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   code               1000000 non-null  object
 1   client             1000000 non-null  object
 2   product            1000000 non-null  object
 3   date_time          1000000 non-null  datetime64[ns]
 4   attention_time     1000000 non-null  float64
 5   comment            1000000 non-null  object
 6   country_of_origin  1000000 non-null  object
 7   city               1000000 non-null  object
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 61.0+ MB
None

,code,client,product,date_time,attention_time,comment,country_of_origin,city
0,eer-4490986,Laurie Wallace,SSD,2020-02-29 17:51:25,86.740331,Significantly improved my computer's boot time.,Brazil,Belo Horizonte
1,qDL-3585949,Craig Harris,Graphics Card,2023-10-26 10:12:43,77.534184,Runs cool and quiet under load.,USA,Not reported
2,sQo-4191674,Cody Romero,VR Headset,2022-08-07 02:52:48,104.754283,Immersive gaming and media experience.,Russia,Kazan
3,QAy-6767272,Renee Sanchez,Graphics Card,2020-03-21 19:23:23,86.052689,"Pricey, but worth it for the performance.",India,Kolkata
4,lAI-7220154,Anthony Collins,Smart Home Assistant,2021-01-08 14:00:46,35.819705,Concerns about privacy and data security.,Italy,Rome

In [38]:
# drop missing values using dropna()
cleaned_df = call_center_df.dropna()
print(cleaned_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 799390 entries, 0 to 999999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   code               799390 non-null  object
 1   client             799390 non-null  object
 2   product            799390 non-null  object
 3   date_time          799390 non-null  datetime64[ns]
 4   attention_time     799390 non-null  float64
 5   comment            799390 non-null  object
 6   country_of_origin  799390 non-null  object
 7   city               799390 non-null  object
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 54.9+ MB
None

In [39]:
# transform column using to_datetime()
call_center_df['dt_str'] = call_center_df['date_time'].astype(str)
print(call_center_df.info())
call_center_df['dt'] = pd.to_datetime(call_center_df['dt_str'])
print(call_center_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 9 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   code               1000000 non-null  object
 1   client             1000000 non-null  object
 2   product            1000000 non-null  object
 3   date_time          979847 non-null   datetime64[ns]
 4   attention_time     950263 non-null   float64
 5   comment            1000000 non-null  object
 6   country_of_origin  1000000 non-null  object
 7   city               858525 non-null   object
 8   dt_str             1000000 non-null  object
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 68.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 10 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   code               1000000 non-null  object
 1   client             1000000 non-null  object
 2   product            1000000 non-null  object
 3   date_time          979847 non-null   datetime64[ns]
 4   attention_time     950263 non-null   float64
 5   comment            1000000 non-null  object
 6   country_of_origin  1000000 non-null  object
 7   city               858525 non-null   object
 8   dt_str             1000000 non-null  object
 9   dt                 979847 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(1), object(7)
memory usage: 76.3+ MB
None

In [40]:
# transform column using to_numeric()
call_center_df['at_str'] = call_center_df['attention_time'].astype(str)
print(call_center_df.info())
call_center_df['at'] = pd.to_numeric(call_center_df['at_str'], errors='coerce')
print(call_center_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 11 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   code               1000000 non-null  object
 1   client             1000000 non-null  object
 2   product            1000000 non-null  object
 3   date_time          979847 non-null   datetime64[ns]
 4   attention_time     950263 non-null   float64
 5   comment            1000000 non-null  object
 6   country_of_origin  1000000 non-null  object
 7   city               858525 non-null   object
 8   dt_str             1000000 non-null  object
 9   dt                 979847 non-null   datetime64[ns]
 10  at_str             1000000 non-null  object
dtypes: datetime64[ns](2), float64(1), object(8)
memory usage: 83.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 12 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   code               1000000 non-null  object
 1   client             1000000 non-null  object
 2   product            1000000 non-null  object
 3   date_time          979847 non-null   datetime64[ns]
 4   attention_time     950263 non-null   float64
 5   comment            1000000 non-null  object
 6   country_of_origin  1000000 non-null  object
 7   city               858525 non-null   object
 8   dt_str             1000000 non-null  object
 9   dt                 979847 non-null   datetime64[ns]
 10  at_str             1000000 non-null  object
 11  at                 950263 non-null   float64
dtypes: datetime64[ns](2), float64(2), object(8)
memory usage: 91.6+ MB
None

In [41]:
# convert column to category using astype()
call_center_df = call_center_df.drop(columns=['dt_str', 'at_str'])
del call_center_df['dt']
del call_center_df['at']
call_center_df = call_center_df.rename(columns={'country_of_origin': 'country'})
call_center_df['country'] = call_center_df['country'].astype('category')
call_center_df['city'] = call_center_df['city'].astype('category')
print(call_center_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 8 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   code            1000000 non-null  object
 1   client          1000000 non-null  object
 2   product         1000000 non-null  object
 3   date_time       979847 non-null   datetime64[ns]
 4   attention_time  950263 non-null   float64
 5   comment         1000000 non-null  object
 6   country         1000000 non-null  category
 7   city            858525 non-null   category
dtypes: category(2), datetime64[ns](1), float64(1), object(4)
memory usage: 47.7+ MB
None

### Students Info for Merge and Joining

In [42]:
df_csv.columns = df_csv.columns.str.lower()
df_csv.head()

,name,company,position,salary
0,Alice Johnson,"Hernandez, Griffith and Nelson",Petroleum engineer,4740
1,David Jones,Gomez-Garcia,"Geologist, engineering",73329
2,Eva Brown,Blevins LLC,Microbiologist,83245
3,Frank Davis,Greene-Wilson,Museum education officer,74390
4,Jack Anderson,Butler PLC,"Scientist, research (maths)",69851

In [43]:
df_json.head()

   id            name                  career                college
0   1   Alice Johnson        Computer Science        Tech University
1   2       Bob Smith  Mechanical Engineering  Engineering Institute
2   3  Carol Williams  Electrical Engineering        Tech University
3   4     David Jones                 Biology        Science College
4   5       Eva Brown                 Physics        Tech University

In [44]:
# merge dataframes using merge()
students_merge_df = pd.merge(df_csv, df_json, on='name')
students_merge_df.to_csv('csv-files/students_merge.csv', index=False)
students_merge_df.head()

,name,company,position,salary,id,career,college
0,Alice Johnson,"Hernandez, Griffith and Nelson",Petroleum engineer,4740,1,Computer Science,Tech University
1,David Jones,Gomez-Garcia,"Geologist, engineering",73329,4,Biology,Science College
2,Eva Brown,Blevins LLC,Microbiologist,83245,5,Physics,Tech University
3,Frank Davis,Greene-Wilson,Museum education officer,74390,6,Chemistry,Science College
4,Jack Anderson,Butler PLC,"Scientist, research (maths)",69851,10,Software Engineering,Tech University

In [45]:
# concatenate dataframes using concat()
students_concat_df = pd.concat([df_csv, df_json], axis=0)
students_concat_df.to_csv('csv-files/students_concat.csv', index=False)
students_concat_df.head()

,name,company,position,salary,id,career,college
0,Alice Johnson,"Hernandez, Griffith and Nelson",Petroleum engineer,4740.0,NaN,NaN,NaN
1,David Jones,Gomez-Garcia,"Geologist, engineering",73329.0,NaN,NaN,NaN
2,Eva Brown,Blevins LLC,Microbiologist,83245.0,NaN,NaN,NaN
3,Frank Davis,Greene-Wilson,Museum education officer,74390.0,NaN,NaN,NaN
4,Jack Anderson,Butler PLC,"Scientist, research (maths)",69851.0,NaN,NaN,NaN

In [46]:
temp_concat_df = pd.concat([df_csv, df_csv.copy()], axis=0).reset_index(drop=True)
print(temp_concat_df.info())
print("*"*50)
temp_concat_df = temp_concat_df.drop_duplicates()
print(temp_concat_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      60 non-null     object
 1   company   60 non-null     object
 2   position  60 non-null     object
 3   salary    60 non-null     int64
dtypes: int64(1), object(3)
memory usage: 2.0+ KB
None
**************************************************
<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      30 non-null     object
 1   company   30 non-null     object
 2   position  30 non-null     object
 3   salary    30 non-null     int64
dtypes: int64(1), object(3)
memory usage: 1.2+ KB
None

In [47]:
df_csv = df_csv.set_index('name')
df_json = df_json.set_index('name')

In [48]:
# join dataframes using join()
students_join_df = df_csv.join(df_json, how='inner')
students_join_df.to_csv('csv-files/students_join.csv')
students_join_df.head()

,company,position,salary,id,career,college
name,,,,,,
Alice Johnson,"Hernandez, Griffith and Nelson",Petroleum engineer,4740,1,Computer Science,Tech University
David Jones,Gomez-Garcia,"Geologist, engineering",73329,4,Biology,Science College
Eva Brown,Blevins LLC,Microbiologist,83245,5,Physics,Tech University
Frank Davis,Greene-Wilson,Museum education officer,74390,6,Chemistry,Science College
Jack Anderson,Butler PLC,"Scientist, research (maths)",69851,10,Software Engineering,Tech University

### Coming Back to the CallCenter

In [49]:
# group dataframes using groupby()
# groupby by country
for country, country_df in call_center_df.groupby('country'):
    print(country)
    print(country_df.head())

/tmp/ipykernel_350011/643197461.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  for country, country_df in call_center_df.groupby('country'):

Australia
           code           client           product           date_time  \
7   iQI-5637711  Richard Herrera  Wireless Charger                 NaT
34  duD-2082213    Jamie Estrada   Streaming Stick 2022-01-29 18:05:49
40  aLz-4866545     James Nelson    Digital Camera 2024-05-20 03:33:30
58  aNx-4547164    Michael Davis           Monitor 2021-12-09 20:56:03
69  wiz-4312029  Jennifer Murray        3D Printer 2024-05-29 17:10:56

    attention_time                               comment    country      city
7        90.696875  Charging speed is slower than wired.  Australia    Sydney
34       46.029668         Turns any TV into a smart TV.  Australia  Canberra
40      146.931571   Compact and easy to carry on trips.  Australia  Canberra
58       77.915983       Stand could be more adjustable.  Australia  Adelaide
69       11.571618            Material costs can add up.  Australia     Perth
Brazil
           code               client              product           date_time  \
0   eer-4490986       Laurie Wallace                  SSD 2020-02-29 17:51:25
9   RSM-6852615             Joe Hill  External Hard Drive 2022-10-07 10:06:19
19  viG-3123990      Michelle Taylor      USB Flash Drive 2021-06-06 23:20:09
53  WnE-3297972  Stephanie Little MD     Wireless Charger 2022-09-19 17:16:53
54  NgI-3255420       Craig Roberson               Tablet 2022-06-23 23:40:49

    attention_time                                          comment country  \
0        86.740331  Significantly improved my computer's boot time.  Brazil
9       140.827411           Transfer speeds are fast and reliable.  Brazil
19      146.901178                    Write speeds could be faster.  Brazil
53      104.851385   Needs precise placement to charge effectively.  Brazil
54       26.194469                  Light and easy to carry around.  Brazil

              city
0   Belo Horizonte
9   Belo Horizonte
19  Rio de Janeiro
53       São Paulo
54             NaN
Canada
            code          client                      product  \
6    SxB-4119613  Timothy Rogers              USB Flash Drive
70   Hmp-9656645  Miguel Stanley             Wireless Charger
90   AIn-2613323   Brittany Gray               Gaming Console
112  ZJU-6074483   Ryan Gonzalez               Gaming Console
123  SDU-0600770  Jason Morrison  Noise Cancelling Headphones

              date_time  attention_time  \
6   2024-01-10 13:23:40       77.976127
70  2021-06-08 23:38:45       94.280573
90  2020-07-17 07:03:20       29.485895
112 2022-12-01 19:19:09       25.348683
123 2020-02-16 17:04:12             NaN

                                               comment country       city
6                Small and portable, but easy to lose.  Canada  Vancouver
70                   Convenient, just drop and charge.  Canada    Calgary
90      Quiet operation, even during intense gameplay.  Canada     Ottawa
112          Excellent game selection and performance.  Canada   Montreal
123  Can be uncomfortable during long listening ses...  Canada   Montreal
China
           code         client          product           date_time  \
32  JUY-9692893  Grant Navarro          Monitor 2023-05-02 22:44:55
37  eyy-3739283   Larry Jordan    Action Camera 2021-01-07 04:00:08
41  SaL-9877020    Lisa Curtis    Action Camera 2021-05-19 07:06:53
72  NUw-7871508   Stephen Rose            Drone 2024-06-10 20:16:41
74  Tnv-7227142    John Murphy  USB Flash Drive 2022-01-12 01:24:38

    attention_time                                      comment country  \
32       61.992910              Stand could be more adjustable.   China
37       35.173205  Battery drains quickly with continuous use.   China
41      147.917118  Battery drains quickly with continuous use.   China
72      146.268890                Learning curve for beginners.   China
74       89.917973        Small and portable, but easy to lose.   China

         city
32        NaN
37  Guangzhou
41    Beijing
72        NaN
74    Beijing
France
           code              client            product           date_time  \
24  yDw-4328933   Jennifer Reid DDS     Digital Camera 2023-05-11 12:18:12
59  lDd-5304588       Joseph Carson   Desktop Computer 2024-01-23 19:47:05
76  NSQ-7915523       Jamie Pearson      Action Camera 2021-02-12 13:20:14
83  RBb-3628278  Roberta Harrington     Gaming Console 2024-04-29 08:06:30
87  fZA-2766974          Paul Bowen  Bluetooth Speaker 2020-06-12 13:29:12

    attention_time                                           comment country  \
24       10.228264          Lenses and accessories can be expensive.  France
59       24.506587  Powerful performance for all my computing needs.  France
76       48.119048   Wide-angle lens captures stunning perspectives.  France
83       26.600098          Controller battery life could be better.  France
87       35.640644                            Battery lasts all day.  France

         city
24   Toulouse
59  Marseille
76  Marseille
83       Lyon
87       Nice
Germany
           code           client              product           date_time  \
12  pHH-9866684   Jonathan Reyes           3D Printer 2021-11-02 03:43:51
13  rAk-5667656  Casey Robertson             E-Reader 2020-12-06 11:05:07
18  dbz-4944874     Lisa Stewart  External Hard Drive 2024-03-09 11:54:48
22  gxo-8337812    Brandi Arnold     Smart Thermostat 2022-11-15 10:41:00
33  Fyg-1525782   Margaret Lewis          Smart Watch 2021-11-07 23:31:33

    attention_time                                            comment  \
12       22.667156                         Material costs can add up.
13      137.369955            Battery lasts weeks on a single charge.
18             NaN                               Feels a bit fragile.
22      130.526197                Saves on heating and cooling costs.
33       97.338097  Notifications are handy, but can be overwhelming.

    country       city
12  Germany  Stuttgart
13  Germany     Munich
18  Germany  Frankfurt
22  Germany  Frankfurt
33  Germany        NaN
India
           code                  client              product  \
3   QAy-6767272           Renee Sanchez        Graphics Card
15  syL-7460136             Amanda Rice       Gaming Console
23  DLg-3721564          John Armstrong  External Hard Drive
38  XYi-7688849  Dr. Elizabeth Bates MD    Bluetooth Speaker
39  PQZ-2590137         Lauren Chandler      Streaming Stick

             date_time  attention_time  \
3  2020-03-21 19:23:23       86.052689
15 2021-01-10 21:18:02      100.247436
23 2022-08-08 18:59:17       66.081200
38 2024-04-09 06:03:17      129.086697
39 2020-05-07 22:03:32       66.422542

                                           comment country       city
3        Pricey, but worth it for the performance.   India    Kolkata
15  Quiet operation, even during intense gameplay.   India  Hyderabad
23          Transfer speeds are fast and reliable.   India        NaN
38                          Battery lasts all day.   India    Chennai
39    Sometimes lags with high-resolution content.   India    Kolkata
Italy
           code           client               product           date_time  \
4   lAI-7220154  Anthony Collins  Smart Home Assistant 2021-01-08 14:00:46
10  pwG-1573678       Brian Cruz      Wireless Charger 2021-03-22 04:30:15
16  fAy-1566403    Eddie Hopkins     Bluetooth Speaker 2022-07-11 17:37:44
20  cqm-2135694       Lisa Lopez               Monitor 2024-03-24 17:26:25
25  nws-0989540      Kelli Lyons           Smart Watch 2021-06-19 09:11:39

    attention_time                                    comment country     city
4        35.819705  Concerns about privacy and data security.   Italy     Rome
10       55.251713          Convenient, just drop and charge.   Italy    Milan
16      124.343389         Water-resistant feature is a plus.   Italy  Palermo
20      130.158442            Stand could be more adjustable.   Italy  Palermo
25       17.482463       Battery life is good, but not great.   Italy   Naples
Japan
           code           client             product           date_time  \
5   fFa-1685085    Betty Aguirre          3D Printer                 NaT
8   puR-0089354    Barbara Ayala     Streaming Stick 2021-11-28 23:25:07
14  Akk-7717740   Ronald Mercado  Portable Projector 2023-01-13 10:39:19
21  BXP-5115182    Joseph Sawyer   Bluetooth Speaker 2024-01-26 12:00:14
35  TQI-4637583  Scott Rodriguez     Fitness Tracker 2021-01-22 01:07:53

    attention_time                                       comment country  \
5        62.905917                    Material costs can add up.   Japan
8        35.386231                       Easy to set up and use.   Japan
14       17.832217           Turns any room into a home theater.   Japan
21       75.652691                        Battery lasts all day.   Japan
35       70.422413  Accuracy can vary depending on the activity.   Japan

       city
5    Nagoya
8     Tokyo
14    Osaka
21   Nagoya
35  Fukuoka
Mexico
            code              client          product           date_time  \
71   PGN-6618548  Jonathan Maldonado          Monitor 2021-03-03 09:56:54
95   ohH-9993952        Jamie Willis   Gaming Console 2020-02-17 00:50:46
169  fjj-6286358         Jesus Kelly       Smartphone 2020-03-25 20:58:45
176  huB-5286115       Gabriel Ochoa  USB Flash Drive 2020-05-22 03:04:05
192  ZxH-4748291      Wesley Krueger           Tablet 2021-08-09 03:30:31

     attention_time                                       comment country  \
71       147.375060  Colors are vibrant and the display is sharp.  Mexico
95        57.514103      Controller battery life could be better.  Mexico
169       29.153172      Battery lasts all day with moderate use.  Mexico
176       29.529545                 Write speeds could be faster.  Mexico
192      108.219406       Great for reading and streaming videos.  Mexico

            city
71        Cancun
95       Tijuana
169  Guadalajara
176  Mexico City
192  Mexico City
Russia
           code         client         product           date_time  \
2   sQo-4191674    Cody Romero      VR Headset 2022-08-07 02:52:48
29  BZu-3534283      Lynn Mack   Action Camera 2020-12-09 00:38:05
51  Cdd-0959825  Nicole Graves          Tablet 2023-12-01 07:17:32
61  cJu-5562746   Monica Lewis      Smartphone 2021-03-29 10:10:09
78  WwU-6628542    Mark Martin  Gaming Console 2023-12-28 13:21:53

    attention_time                                          comment country  \
2       104.754283           Immersive gaming and media experience.  Russia
29       16.697331  Wide-angle lens captures stunning perspectives.  Russia
51       50.845661          Great for reading and streaming videos.  Russia
61      112.518075                Wish it had more storage options.  Russia
78      105.848445   Quiet operation, even during intense gameplay.  Russia

                city
2              Kazan
29               NaN
51  Saint Petersburg
61       Novosibirsk
78     Yekaterinburg
South Korea
           code               client           product           date_time  \
27  wds-7820761         Amanda Scott     Graphics Card 2023-05-09 00:04:23
43  Vox-4346187         Cody Rodgers   Wireless Router 2022-01-23 05:18:33
50  Dme-1530696       Angela Shields    Digital Camera 2021-06-15 05:14:24
64  vsJ-9091343          Angela Cook  Desktop Computer 2021-07-17 04:33:13
73  xiQ-7698036  Katherine Dominguez        Smartphone 2023-07-06 04:12:17

    attention_time                                            comment  \
27      141.281093                    Runs cool and quiet under load.
43       15.550883  Strong and stable Wi-Fi coverage throughout my...
50       92.646439              Excellent image quality and features.
64       63.044579   Powerful performance for all my computing needs.
73             NaN           Battery lasts all day with moderate use.

        country     city
27  South Korea    Daegu
43  South Korea  Daejeon
50  South Korea    Seoul
64  South Korea  Daejeon
73  South Korea  Incheon
Spain
           code          client      product           date_time  \
11  wBN-6261959      Beth Blake   Smart Lock 2022-04-21 18:12:43
26  ovm-5409952   Nicolas Smith  Smart Watch 2023-04-04 04:21:32
56  HTR-7986846  Jose Gutierrez  Smart Watch 2020-04-09 00:46:16
62  hht-1784762     Jenny Mason          SSD 2020-04-15 19:40:54
65  RfF-1088404  Nicole Johnson       Laptop 2021-01-16 01:46:33

    attention_time                                            comment country  \
11       99.585569          Setup was more complicated than expected.   Spain
26       18.563691  Notifications are handy, but can be overwhelming.   Spain
56       58.742645  Notifications are handy, but can be overwhelming.   Spain
62        6.274926    Significantly improved my computer's boot time.   Spain
65       70.502824        Sleek design, but gets hot under heavy use.   Spain

        city
11  Zaragoza
26  Zaragoza
56  Valencia
62    Madrid
65    Madrid
UK
           code               client              product           date_time  \
17  VSV-6542221        Veronica Gray                  SSD 2022-01-04 13:15:56
42  Lgk-1108434      Casey Mccormick              Monitor 2023-01-31 03:12:07
44  fTC-2340268           Seth Foley        Graphics Card 2022-11-18 18:14:56
46  txY-7069728  Johnathan Hernandez  External Hard Drive 2024-04-17 03:34:45
66  dKZ-2144006       Jennifer Smith               Laptop 2020-11-05 05:28:29

    attention_time                                    comment country  \
17      137.588234        Reliable and fast storage solution.      UK
42      148.889133         Great for gaming with low latency.      UK
44       97.716205  Pricey, but worth it for the performance.      UK
46       19.747415     Transfer speeds are fast and reliable.      UK
66       82.228689          Perfect for both work and gaming.      UK

          city
17  Birmingham
42  Birmingham
44     Glasgow
46   Liverpool
66         NaN
USA
            code         client            product           date_time  \
1    qDL-3585949   Craig Harris      Graphics Card 2023-10-26 10:12:43
47   XTs-5926647      Erin Love  Bluetooth Speaker 2021-12-22 03:19:58
68   HvK-7192312   Pamela Casey      Graphics Card                 NaT
79   BAt-7155448     Joseph Liu     Gaming Console 2023-07-03 20:56:02
103  Coo-9901233  Kelly Collins         VR Headset 2020-07-23 09:44:53

     attention_time                                    comment country  \
1               NaN            Runs cool and quiet under load.     USA
47        64.554752          Great sound quality for its size.     USA
68       106.058759  Pricey, but worth it for the performance.     USA
79       149.450178   Controller battery life could be better.     USA
103      120.150219     Immersive gaming and media experience.     USA

              city
1              NaN
47         Chicago
68         Seattle
79             NaN
103  San Francisco

In [50]:
# groupby by country and city
for (country, city), country_city_df in call_center_df.groupby(['country', 'city']):
    print(country, city)
    print(country_city_df.head())

/tmp/ipykernel_350011/3881247478.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  for (country, city), country_city_df in call_center_df.groupby(['country', 'city']):

Australia Adelaide
            code          client            product           date_time  \
58   aNx-4547164   Michael Davis            Monitor 2021-12-09 20:56:03
82   AxV-5493389      Amy Dillon      Graphics Card 2024-02-09 10:56:23
251  guI-8126215      Corey Gray             Tablet 2023-11-02 11:39:20
285  EzZ-7506837  Dylan Price MD   Wireless Charger 2021-12-28 09:58:18
481  TuI-4167846  Brittany Hardy  Bluetooth Speaker 2023-04-02 11:27:15

     attention_time                                    comment    country  \
58        77.915983            Stand could be more adjustable.  Australia
82       137.804867  Pricey, but worth it for the performance.  Australia
251      136.081584            Light and easy to carry around.  Australia
285       57.067966       Charging speed is slower than wired.  Australia
481       28.677439          Great sound quality for its size.  Australia

         city
58   Adelaide
82   Adelaide
251  Adelaide
285  Adelaide
481  Adelaide
Australia Brisbane
            code             client           product           date_time  \
384  Iga-7109437          Lisa Cruz  Desktop Computer 2024-03-05 14:00:14
532  kIP-5039364        Scott Davis    Gaming Console 2020-11-08 18:55:15
546  WTe-6555437     Kimberly Ellis        3D Printer 2022-04-14 05:07:13
716  RCN-6258853       Amber Ortega        VR Headset 2020-03-28 12:02:23
800  Azb-8967733  Pamela Fuller PhD     Graphics Card 2024-06-23 06:29:37

     attention_time                                           comment  \
384      132.264598  Powerful performance for all my computing needs.
532       53.864352          Controller battery life could be better.
546      137.958391      Setup and calibration can be time-consuming.
716       70.630642  Requires a lot of space for the best experience.
800       35.519413         Pricey, but worth it for the performance.

       country      city
384  Australia  Brisbane
532  Australia  Brisbane
546  Australia  Brisbane
716  Australia  Brisbane
800  Australia  Brisbane
Australia Canberra
            code            client                      product  \
34   duD-2082213     Jamie Estrada              Streaming Stick
40   aLz-4866545      James Nelson               Digital Camera
172  iUt-6207542      Leah Stevens  Noise Cancelling Headphones
323  Grh-9375623  Catherine Joseph                  Smart Watch
351  PWq-6536062     Robert Gibson                Graphics Card

              date_time  attention_time  \
34  2022-01-29 18:05:49       46.029668
40  2024-05-20 03:33:30      146.931571
172 2023-01-03 04:26:05             NaN
323 2020-04-07 21:37:15      142.405247
351 2023-03-17 09:19:05      134.127551

                                      comment    country      city
34              Turns any TV into a smart TV.  Australia  Canberra
40        Compact and easy to carry on trips.  Australia  Canberra
172  Effectively blocks out background noise.  Australia  Canberra
323      Battery life is good, but not great.  Australia  Canberra
351   Can handle most games at high settings.  Australia  Canberra
Australia Melbourne
            code            client                      product  \
293  Uwh-1674455     Craig Stanley                          SSD
310  uiV-9081047       Kelly Clark            Bluetooth Speaker
350  eoO-3122708        April Bush  Noise Cancelling Headphones
376  mwl-4834823      Alan Mahoney                       Laptop
414  hQo-5403413  Douglas Robinson                Graphics Card

              date_time  attention_time  \
293 2020-09-07 06:11:35      110.300302
310 2020-07-31 19:04:51      102.371262
350 2020-12-05 04:14:18       32.553208
376 2022-10-19 21:46:36       14.932636
414 2020-08-13 23:51:28      133.846804

                                             comment    country       city
293  Significantly improved my computer's boot time.  Australia  Melbourne
310               Water-resistant feature is a plus.  Australia  Melbourne
350         Effectively blocks out background noise.  Australia  Melbourne
376                Perfect for both work and gaming.  Australia  Melbourne
414          Can handle most games at high settings.  Australia  Melbourne
Australia Perth
            code           client             product           date_time  \
69   wiz-4312029  Jennifer Murray          3D Printer 2024-05-29 17:10:56
190  Oxw-1185731  Katherine Lopez          VR Headset 2022-04-08 04:44:50
472  AgK-5569771     Amanda Gomez    Desktop Computer 2023-03-06 17:26:42
496  RBq-1621902   Meghan Summers              Tablet 2020-06-01 01:25:57
607  frV-1703121     Jason Nguyen  Portable Projector                 NaT

     attention_time                                           comment  \
69        11.571618                        Material costs can add up.
190       21.325785  Requires a lot of space for the best experience.
472       17.233945                          Takes up a lot of space.
496       11.970675                       Could use more accessories.
607       94.484994                     Battery life could be longer.

       country   city
69   Australia  Perth
190  Australia  Perth
472  Australia  Perth
496  Australia  Perth
607  Australia  Perth
Australia Sydney
            code           client              product           date_time  \
7    iQI-5637711  Richard Herrera     Wireless Charger                 NaT
85   RyH-6726777     Amanda Gomez  External Hard Drive 2024-02-08 22:51:45
252  Krf-9127899       Gary Brown               Tablet 2023-01-10 22:16:37
422  xXK-9844580      Dana Glover          Smart Watch 2020-04-30 05:07:00
428  TAw-4584492     Melissa Ryan     Desktop Computer                 NaT

     attention_time                               comment    country    city
7         90.696875  Charging speed is slower than wired.  Australia  Sydney
85         7.647290            Compact and easy to carry.  Australia  Sydney
252      114.780294       Light and easy to carry around.  Australia  Sydney
422       25.140446   Tracks fitness activity accurately.  Australia  Sydney
428       26.155785              Takes up a lot of space.  Australia  Sydney
Brazil Belo Horizonte
            code           client              product           date_time  \
0    eer-4490986   Laurie Wallace                  SSD 2020-02-29 17:51:25
9    RSM-6852615         Joe Hill  External Hard Drive 2022-10-07 10:06:19
60   vip-7724083    Raymond Foley    Bluetooth Speaker 2022-07-04 01:03:50
115  RQB-4860159     Oscar Morton        Graphics Card 2024-02-26 20:53:05
253  UOj-7662333  John Hutchinson   Portable Projector 2021-12-30 07:08:58

     attention_time                                          comment country  \
0         86.740331  Significantly improved my computer's boot time.  Brazil
9        140.827411           Transfer speeds are fast and reliable.  Brazil
60       100.558861               Water-resistant feature is a plus.  Brazil
115       72.806695                  Runs cool and quiet under load.  Brazil
253       14.303662      Brightness is adequate for dimly lit rooms.  Brazil

               city
0    Belo Horizonte
9    Belo Horizonte
60   Belo Horizonte
115  Belo Horizonte
253  Belo Horizonte
Brazil Brasília
            code             client              product           date_time  \
89   AIW-8363272        Donna Jones   Portable Projector 2021-04-11 17:30:31
107  roP-7158462  Elizabeth Gilmore       Digital Camera 2022-04-09 12:28:19
122  qzX-0557600        Robin Kelly             E-Reader 2024-01-08 04:36:21
137  StJ-6620025   Annette Mckinney  External Hard Drive 2021-08-09 05:05:50
586  TMY-1073595         Amy Mathis      Streaming Stick 2020-12-12 07:43:28

     attention_time                                       comment country  \
89        28.282409   Brightness is adequate for dimly lit rooms.  Brazil
107      135.696886      Lenses and accessories can be expensive.  Brazil
122      133.941144  Makes reading at night comfortable and easy.  Brazil
137      102.650571        Transfer speeds are fast and reliable.  Brazil
586      129.370345                 Turns any TV into a smart TV.  Brazil

         city
89   Brasília
107  Brasília
122  Brasília
137  Brasília
586  Brasília
Brazil Fortaleza
            code              client           product           date_time  \
80   QbX-6662579  Jennifer Hernandez        Smart Lock 2022-05-18 17:48:14
146  RRQ-6074914       Joel Thompson   USB Flash Drive 2020-11-13 03:59:39
191  bEo-6722977         Terri Arias          E-Reader 2024-01-26 08:06:56
206  exg-3431307       Philip Sutton  Desktop Computer 2020-01-22 00:56:48
333  vzd-7756709          Brian Pena  Smart Thermostat 2023-01-12 15:02:25

     attention_time                                        comment country  \
80        71.196198      Adds convenience and security to my home.  Brazil
146      110.740554                  Write speeds could be faster.  Brazil
191       25.853717  Wish it supported more file formats natively.  Brazil
206       83.841477                       Takes up a lot of space.  Brazil
333       57.161444                 Easy to control from my phone.  Brazil

          city
80   Fortaleza
146  Fortaleza
191  Fortaleza
206  Fortaleza
333  Fortaleza
Brazil Rio de Janeiro
            code           client               product           date_time  \
19   viG-3123990  Michelle Taylor       USB Flash Drive 2021-06-06 23:20:09
503  MWb-8102870   Victoria Clark            Smartphone 2020-04-28 01:12:55
692  NBA-3695115       Jody Barry       Fitness Tracker 2020-01-01 01:12:52
704  VVR-6029942      James Jones      Desktop Computer 2021-08-30 13:00:01
719  Rkq-7352368     Angel Turner  Smart Home Assistant 2023-01-10 02:36:28

     attention_time                                           comment country  \
19       146.901178                     Write speeds could be faster.  Brazil
503       25.919756  Amazing camera quality, especially in low light.  Brazil
692       44.396517                      Motivates me to stay active.  Brazil
704       10.137863                          Takes up a lot of space.  Brazil
719       45.306884                     Voice recognition works well.  Brazil

               city
19   Rio de Janeiro
503  Rio de Janeiro
692  Rio de Janeiro
704  Rio de Janeiro
719  Rio de Janeiro
Brazil Salvador
            code            client           product           date_time  \
297  lTk-0262413       Alex Church  Desktop Computer 2023-07-18 18:45:27
340  tqY-2764763      Alicia Lopez  Desktop Computer 2022-02-10 00:26:02
407  zyn-4003316   Thomas Williams  Desktop Computer 2020-10-18 23:07:10
506  zKW-0783641       James Burke  Wireless Charger 2024-06-12 02:23:25
566  FoH-4842029  Amber Villarreal           Monitor 2020-01-05 00:13:09

     attention_time                            comment country      city
297      105.212861           Takes up a lot of space.  Brazil  Salvador
340       77.925313           Takes up a lot of space.  Brazil  Salvador
407       55.599150           Takes up a lot of space.  Brazil  Salvador
506       48.702416  Convenient, just drop and charge.  Brazil  Salvador
566       72.760722    Stand could be more adjustable.  Brazil  Salvador
Brazil São Paulo
            code               client             product           date_time  \
53   WnE-3297972  Stephanie Little MD    Wireless Charger 2022-09-19 17:16:53
81   aMK-4061293        Brittany Rose    Wireless Charger 2021-02-18 00:58:38
151  AWx-4586671        Brandon Roach  Portable Projector 2022-03-27 06:12:58
322  gnP-9945602         Misty Jensen             Monitor 2021-11-12 14:47:16
334  uym-2605410       Jessica Powers   Bluetooth Speaker 2022-11-16 01:51:17

     attention_time                                         comment country  \
53       104.851385  Needs precise placement to charge effectively.  Brazil
81       129.227424            Charging speed is slower than wired.  Brazil
151       14.429636                   Battery life could be longer.  Brazil
322       92.862380    Colors are vibrant and the display is sharp.  Brazil
334      142.493278                          Battery lasts all day.  Brazil

          city
53   São Paulo
81   São Paulo
151  São Paulo
322  São Paulo
334  São Paulo
Canada Calgary
            code          client           product           date_time  \
70   Hmp-9656645  Miguel Stanley  Wireless Charger 2021-06-08 23:38:45
166  WHS-5455010    Diane Walker   Fitness Tracker 2022-07-22 21:18:08
208  IDC-4068161  Jamie Bradford            Tablet 2020-01-17 12:13:02
259  poy-8845619    Rebecca Cruz   Streaming Stick 2021-09-23 14:38:33
371  jlL-9249110      Timothy Ho     Graphics Card 2020-02-01 18:21:28

     attention_time                                       comment country  \
70        94.280573             Convenient, just drop and charge.  Canada
166       30.923837                  Motivates me to stay active.  Canada
208      146.431650               Light and easy to carry around.  Canada
259       53.428874  Sometimes lags with high-resolution content.  Canada
371       53.477446     Pricey, but worth it for the performance.  Canada

        city
70   Calgary
166  Calgary
208  Calgary
259  Calgary
371  Calgary
Canada Edmonton
            code               client             product           date_time  \
155  kiQ-7054021       Laura Martinez     Streaming Stick 2020-01-13 13:54:18
170  XVI-3470475        Kristina Wall  Portable Projector 2021-11-22 06:35:16
364  lLj-0142992     Stephanie Thomas          Smart Lock 2023-05-31 13:52:38
401  cud-6081904  Stephen Estrada Jr.     USB Flash Drive 2020-10-25 20:29:34
524  ouK-7057125         Kelly Haynes                 SSD 2024-03-16 08:41:12

     attention_time                                       comment country  \
155       95.603315  Sometimes lags with high-resolution content.  Canada
170      137.446215                 Battery life could be longer.  Canada
364      101.702337     Adds convenience and security to my home.  Canada
401       63.025754                 Write speeds could be faster.  Canada
524       88.516618                   Capacity can get expensive.  Canada

         city
155  Edmonton
170  Edmonton
364  Edmonton
401  Edmonton
524  Edmonton
Canada Montreal
            code              client                      product  \
112  ZJU-6074483       Ryan Gonzalez               Gaming Console
123  SDU-0600770      Jason Morrison  Noise Cancelling Headphones
289  xDl-0287498       Brenda Duncan              Fitness Tracker
344  sQV-1630171  Dr. Jennifer Ayala                   Smart Lock
363  kBx-3963140     James Carpenter             Desktop Computer

              date_time  attention_time  \
112 2022-12-01 19:19:09       25.348683
123 2020-02-16 17:04:12             NaN
289                 NaT      111.915146
344 2020-01-19 10:13:18       19.944018
363 2023-09-04 08:09:36      113.586773

                                               comment country      city
112          Excellent game selection and performance.  Canada  Montreal
123  Can be uncomfortable during long listening ses...  Canada  Montreal
289       Accuracy can vary depending on the activity.  Canada  Montreal
344          Adds convenience and security to my home.  Canada  Montreal
363                     Easy to upgrade and customize.  Canada  Montreal
Canada Ottawa
            code         client               product           date_time  \
90   AIn-2613323  Brittany Gray        Gaming Console 2020-07-17 07:03:20
217  fFG-3282704  Lauren Castro  Smart Home Assistant 2021-11-13 18:20:36
218  uBC-3592928   David Miller    Portable Projector 2020-01-13 07:38:05
245  apT-9942524  William Brown      Wireless Charger 2021-05-19 20:40:57
273  EXe-6395792   Wayne Howard            3D Printer                 NaT

     attention_time                                         comment country  \
90        29.485895  Quiet operation, even during intense gameplay.  Canada
217      138.378188      Makes controlling smart home devices easy.  Canada
218       10.732640     Brightness is adequate for dimly lit rooms.  Canada
245      129.302650               Convenient, just drop and charge.  Canada
273       86.139996    Setup and calibration can be time-consuming.  Canada

       city
90   Ottawa
217  Ottawa
218  Ottawa
245  Ottawa
273  Ottawa
Canada Toronto
            code          client           product           date_time  \
128  ELJ-6436671    Allison Mack        Smart Lock 2020-03-15 01:32:51
135  FRD-6910618  Michael Strong             Drone 2021-12-06 11:00:57
267  Hwq-2515978  Amanda Johnson  Wireless Charger 2022-04-19 04:33:02
355  EYe-9285610      Amy Kaiser   USB Flash Drive 2022-10-12 19:32:14
417  PRx-0680802     James Booth   USB Flash Drive 2022-10-27 23:16:44

     attention_time                                    comment country  \
128       84.359197  Adds convenience and security to my home.  Canada
135             NaN    Takes amazing aerial photos and videos.  Canada
267      125.116586          Convenient, just drop and charge.  Canada
355      148.720246      Small and portable, but easy to lose.  Canada
417       10.602339       Convenient for quick file transfers.  Canada

        city
128  Toronto
135  Toronto
267  Toronto
355  Toronto
417  Toronto
Canada Vancouver
            code          client               product           date_time  \
6    SxB-4119613  Timothy Rogers       USB Flash Drive 2024-01-10 13:23:40
141  ocp-8439647  Lindsey Savage    Portable Projector 2023-10-04 05:42:06
438  DLK-3398828    George Young      Smart Thermostat 2024-02-07 00:09:43
640  xMZ-1240854     Luis Atkins  Smart Home Assistant 2024-01-27 00:38:40
654  GpH-0196959     Sean Phelps       Fitness Tracker 2023-02-01 07:41:30

     attention_time                                       comment country  \
6         77.976127         Small and portable, but easy to lose.  Canada
141       85.054267   Brightness is adequate for dimly lit rooms.  Canada
438      147.067713                Easy to control from my phone.  Canada
640       95.565927    Makes controlling smart home devices easy.  Canada
654      147.271796  Accuracy can vary depending on the activity.  Canada

          city
6    Vancouver
141  Vancouver
438  Vancouver
640  Vancouver
654  Vancouver
China Beijing
            code            client                      product  \
41   SaL-9877020       Lisa Curtis                Action Camera
74   Tnv-7227142       John Murphy              USB Flash Drive
93   lRw-6550225  Patrick Robinson             Smart Thermostat
98   ycl-2227043      Nicole Hicks           Portable Projector
215  xfQ-8379288       Heidi Perez  Noise Cancelling Headphones

              date_time  attention_time  \
41  2021-05-19 07:06:53      147.917118
74  2022-01-12 01:24:38       89.917973
93  2024-03-11 12:41:54       45.979155
98  2021-06-27 16:56:43      136.921973
215 2021-01-04 14:57:18       45.793404

                                         comment country     city
41   Battery drains quickly with continuous use.   China  Beijing
74         Small and portable, but easy to lose.   China  Beijing
93                Easy to control from my phone.   China  Beijing
98                 Battery life could be longer.   China  Beijing
215     Effectively blocks out background noise.   China  Beijing
China Chengdu
            code            client            product           date_time  \
163  RGV-2999006      Jeremy Munoz             Tablet 2022-05-05 12:29:55
202  KCd-3306608      Joshua Evans  Bluetooth Speaker 2020-03-03 09:29:10
314  zti-8717436     Roberto Dixon     Digital Camera 2023-07-18 23:25:01
571  jxW-1208131   Robert Trujillo   Desktop Computer 2024-03-20 20:24:25
669  Bkm-3678694  William Gonzalez         Smartphone 2024-02-07 08:37:22

     attention_time                                           comment country  \
163      121.665636           Great for reading and streaming videos.   China

In [51]:
# group and aggregate dataframes using groupby() and aggregate()
# grup by country and get the mean, std, min, max  of attention_time
grouped_country_df = call_center_df.groupby('country').agg({'attention_time': ['mean', 'std', np.min, np.nanmax]})
grouped_country_df

/tmp/ipykernel_350011/1679341506.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped_country_df = call_center_df.groupby('country').agg({'attention_time': ['mean', 'std', np.min, np.nanmax]})
/tmp/ipykernel_350011/1679341506.py:3: FutureWarning: The provided callable <function min at 0x7b1bdd98ade0> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  grouped_country_df = call_center_df.groupby('country').agg({'attention_time': ['mean', 'std', np.min, np.nanmax]})
/tmp/ipykernel_350011/1679341506.py:3: FutureWarning: The provided callable <function nanmax at 0x7b1bdd3994e0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  grouped_country_df = call_center_df.groupby('country').agg({'attention_time': ['mean', 'std', np.min, np.nanmax]})

            attention_time
                      mean        std       min      nanmax
country
Australia        77.564133  41.825168  5.002475  149.999597
Brazil           77.756712  41.852127  5.000688  149.999462
Canada           77.474514  41.881525  5.001910  149.996124
China            77.535011  41.908777  5.002371  149.999675
France           77.659527  41.936573  5.001077  149.998944
Germany          77.304183  41.765321  5.000390  149.997648
India            77.575955  41.794698  5.005280  149.995586
Italy            77.408117  41.829431  5.003875  149.996914
Japan            77.500571  41.858569  5.000739  149.999943
Mexico           77.612920  41.829822  5.000968  149.999955
Russia           77.587339  42.014596  5.000839  149.998996
South Korea      77.534233  41.851750  5.000916  149.996096
Spain            77.571777  41.893639  5.000581  149.996864
UK               77.575929  41.865870  5.002238  149.998754
USA              77.352924  41.849598  5.000887  149.996222

In [52]:
# group by country and city and get the mean, std, min, max of attention_time
grouped_country_city_df = call_center_df.groupby(['country', 'city']).agg({'attention_time': ['mean', 'std', np.min, np.nanmax]})
grouped_country_city_df = grouped_country_city_df.dropna()
grouped_country_city_df.to_csv('csv-files/grouped_country_city.csv')
grouped_country_city_df

/tmp/ipykernel_350011/1507011519.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped_country_city_df = call_center_df.groupby(['country', 'city']).agg({'attention_time': ['mean', 'std', np.min, np.nanmax]})
/tmp/ipykernel_350011/1507011519.py:2: FutureWarning: The provided callable <function min at 0x7b1bdd98ade0> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  grouped_country_city_df = call_center_df.groupby(['country', 'city']).agg({'attention_time': ['mean', 'std', np.min, np.nanmax]})
/tmp/ipykernel_350011/1507011519.py:2: FutureWarning: The provided callable <function nanmax at 0x7b1bdd3994e0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  grouped_country_city_df = call_center_df.groupby(['country', 'city']).agg({'attention_time': ['mean', 'std', np.min, np.nanmax]})

                        attention_time
                                  mean        std       min      nanmax
country   city
Australia Adelaide           77.709053  41.633533  5.005949  149.983077
          Brisbane           77.662205  42.006778  5.012611  149.994752
          Canberra           76.959055  41.991513  5.008690  149.996272
          Melbourne          77.809943  41.732739  5.026245  149.991688
          Perth              77.996317  41.843446  5.023507  149.940369
...                                ...        ...       ...         ...
USA       Los Angeles        77.425662  41.674721  5.002356  149.980056
          Miami              77.615529  41.591648  5.006401  149.984026
          New York           77.599644  42.025886  5.000887  149.976766
          San Francisco      77.381475  41.738286  5.019476  149.982310
          Seattle            77.762297  41.958075  5.006975  149.980573

[91 rows x 4 columns]

In [53]:
grouped_country_city_df = grouped_country_city_df.reset_index()
grouped_country_city_df.head()

     country       city attention_time
                                  mean        std       min      nanmax
0  Australia   Adelaide      77.709053  41.633533  5.005949  149.983077
1  Australia   Brisbane      77.662205  42.006778  5.012611  149.994752
2  Australia   Canberra      76.959055  41.991513  5.008690  149.996272
3  Australia  Melbourne      77.809943  41.732739  5.026245  149.991688
4  Australia      Perth      77.996317  41.843446  5.023507  149.940369

In [54]:
# group and transform dataframes using groupby() and transform()
call_center_df['attention_time_mean'] = call_center_df.groupby('country')['attention_time'].transform(np.mean)
call_center_df['attention_time_std'] = call_center_df.groupby('country')['attention_time'].transform('std')
call_center_df = call_center_df.sort_values(by='country')
print(call_center_df.shape)
call_center_df.head()

/tmp/ipykernel_350011/1031107858.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  call_center_df['attention_time_mean'] = call_center_df.groupby('country')['attention_time'].transform(np.mean)
/tmp/ipykernel_350011/1031107858.py:2: FutureWarning: The provided callable <function mean at 0x7b1bdd98b6a0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  call_center_df['attention_time_mean'] = call_center_df.groupby('country')['attention_time'].transform(np.mean)
/tmp/ipykernel_350011/1031107858.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  call_center_df['attention_time_std'] = call_center_df.groupby('country')['attention_time'].transform('std')

(1000000, 10)

,code,client,product,date_time,attention_time,comment,country,city,attention_time_mean,attention_time_std
999999,XRh-5634243,Christopher Harmon,Streaming Stick,2021-05-25 09:54:38,11.099840,Turns any TV into a smart TV.,Australia,Canberra,77.564133,41.825168
70627,BYO-8699106,Richard Watkins,Noise Cancelling Headphones,2020-09-30 05:59:40,63.467884,Sound quality is top-notch.,Australia,Brisbane,77.564133,41.825168
504922,uFw-2994564,Robert Juarez,Smartphone,2020-02-26 15:57:40,5.258973,Wish it had more storage options.,Australia,Adelaide,77.564133,41.825168
504923,zyz-1962524,Billy Bradley,Smart Thermostat,2023-10-23 04:09:19,60.877980,Saves on heating and cooling costs.,Australia,Perth,77.564133,41.825168
504934,hkc-4959632,Robert Walker,Smart Watch,2020-02-19 07:38:18,67.007363,Tracks fitness activity accurately.,Australia,Melbourne,77.564133,41.825168

In [55]:
print(call_center_df['attention_time_mean'].unique())

[77.5641334  77.75671188 77.47451364 77.53501086 77.65952717 77.30418293
 77.57595523 77.40811726 77.50057096 77.61291962 77.58733855 77.53423334
 77.57177674 77.5759291  77.3529239 ]

In [56]:
# group and filter dataframes using groupby() and filter()
call_center_df_filtered = call_center_df.groupby('country').filter(lambda x: x['attention_time'].mean() > 77.6)
print(call_center_df_filtered.shape)
print(call_center_df_filtered['attention_time_mean'].unique())
call_center_df_filtered.head()

/tmp/ipykernel_350011/1597456090.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  call_center_df_filtered = call_center_df.groupby('country').filter(lambda x: x['attention_time'].mean() > 77.6)

(199572, 10)
[77.75671188 77.65952717 77.61291962]

,code,client,product,date_time,attention_time,comment,country,city,attention_time_mean,attention_time_std
324875,MEF-3764563,Mikayla Peterson,Graphics Card,2023-12-01 12:38:19,57.773991,Runs cool and quiet under load.,Brazil,Salvador,77.756712,41.852127
357017,dWa-4153507,Tara Lowe,Smartphone,2020-10-31 00:27:43,36.069222,Wish it had more storage options.,Brazil,Rio de Janeiro,77.756712,41.852127
911099,bmB-3623946,Traci Snow,Desktop Computer,2023-03-28 18:56:43,72.484660,Takes up a lot of space.,Brazil,Salvador,77.756712,41.852127
357004,yzW-1913985,Kimberly Sutton,Bluetooth Speaker,2021-02-09 17:06:23,85.606281,Water-resistant feature is a plus.,Brazil,São Paulo,77.756712,41.852127
333155,Srj-1131939,Robert Lewis,Tablet,2020-05-19 14:11:58,44.727984,Great for reading and streaming videos.,Brazil,Belo Horizonte,77.756712,41.852127

In [63]:
# pivot dataframes using pivot_table()
def create_category(x):
    if x > 120:
        return 'Too Bad'
    elif x > 60:
        return 'Bad'
    elif x > 20:
        return 'Medium'
    else:
        return 'Acceptable'

call_center_df['attention_category'] = call_center_df['attention_time'].apply(lambda x: create_category(x))
call_center_df.to_csv('csv-files/call_center_data.csv', index=False)
call_center_df.pivot_table(values='attention_time', index='country', columns='attention_category', aggfunc=['mean', 'min', 'max'], observed=False).head()

                         mean                                          min  \
attention_category Acceptable        Bad     Medium     Too Bad Acceptable
country
Australia           12.522477  89.954171  40.200469  134.997447   5.002475
Brazil              12.522218  89.997970  39.992445  134.959573   5.000688
Canada              12.595325  90.104672  40.030873  135.007696   5.001910
China               12.599466  89.988982  40.081815  135.117533   5.002371
France              12.562566  90.026974  39.909190  134.905416   5.001077

                                                            max              \
attention_category        Bad     Medium     Too Bad Acceptable         Bad
country
Australia           60.003472  20.001165  120.001180  19.998346  119.997908
Brazil              60.000151  20.002189  120.003021  19.999621  119.998658
Canada              60.001768  20.000494  120.003948  19.999028  119.999962
China               60.001863  20.000859  120.001723  19.999311  119.997419
France              60.000012  20.007444  120.005430  19.999040  119.998133


attention_category     Medium     Too Bad
country
Australia           59.999344  149.999597
Brazil              59.996379  149.999462
Canada              59.996309  149.996124
China               59.997002  149.999675
France              59.994651  149.998944

## Advanced Transformations

In [58]:
# making transformations using apply()
def get_region(country):
    if country in ['Brazil']:
        return 'South America'
    elif country in ['USA', 'Canada', 'Mexico']:
        return 'North America'
    elif country in ['Spain', 'France', 'UK', 'Germany', 'Italy']:
        return 'Europe'
    elif country in ['China', 'South Korea', 'India', 'Japan']:
        return 'Asia'
    elif country in ['Russia']:
        return 'Asia/Europe'
    elif country in ['Australia']:
        return 'Oceania'
    else:
        return 'NA'

call_center_df['region'] = call_center_df['country'].apply(lambda x: get_region(x))
call_center_df.head()

,code,client,product,date_time,attention_time,comment,country,city,attention_time_mean,attention_time_std,attention_category,region
999999,XRh-5634243,Christopher Harmon,Streaming Stick,2021-05-25 09:54:38,11.099840,Turns any TV into a smart TV.,Australia,Canberra,77.564133,41.825168,Acceptable,Oceania
70627,BYO-8699106,Richard Watkins,Noise Cancelling Headphones,2020-09-30 05:59:40,63.467884,Sound quality is top-notch.,Australia,Brisbane,77.564133,41.825168,Bad,Oceania
504922,uFw-2994564,Robert Juarez,Smartphone,2020-02-26 15:57:40,5.258973,Wish it had more storage options.,Australia,Adelaide,77.564133,41.825168,Acceptable,Oceania
504923,zyz-1962524,Billy Bradley,Smart Thermostat,2023-10-23 04:09:19,60.877980,Saves on heating and cooling costs.,Australia,Perth,77.564133,41.825168,Bad,Oceania
504934,hkc-4959632,Robert Walker,Smart Watch,2020-02-19 07:38:18,67.007363,Tracks fitness activity accurately.,Australia,Melbourne,77.564133,41.825168,Bad,Oceania

In [59]:
# making transformations using chain transformations
# Assuming call_center_df is your DataFrame and get_region is a predefined function

transformed_df = (
    call_center_df
    .assign(
        attention_time=lambda x: x['attention_time'].fillna(x['attention_time'].mean()),
        city=lambda x: x['city'].astype(str).fillna('non-registered'),
        client=lambda x: x['client'].str.capitalize(),
        outlier=lambda x: (np.abs(x['attention_time_mean'] - x['attention_time']) >\
                           np.abs(x['attention_time_mean'] - x['attention_time_std'])).astype(int)
    )
    .dropna()
    .assign(region=lambda x: x['country'].apply(get_region).str.upper())
    .set_index('code')
    .round({'attention_time': 3})
    .rename(columns={'client': 'client_name'})
)

transformed_df.head()

,client_name,product,date_time,attention_time,comment,country,city,attention_time_mean,attention_time_std,attention_category,region,outlier
code,,,,,,,,,,,,
XRh-5634243,Christopher harmon,Streaming Stick,2021-05-25 09:54:38,11.100,Turns any TV into a smart TV.,Australia,Canberra,77.564133,41.825168,Acceptable,OCEANIA,1
BYO-8699106,Richard watkins,Noise Cancelling Headphones,2020-09-30 05:59:40,63.468,Sound quality is top-notch.,Australia,Brisbane,77.564133,41.825168,Bad,OCEANIA,0
uFw-2994564,Robert juarez,Smartphone,2020-02-26 15:57:40,5.259,Wish it had more storage options.,Australia,Adelaide,77.564133,41.825168,Acceptable,OCEANIA,1
zyz-1962524,Billy bradley,Smart Thermostat,2023-10-23 04:09:19,60.878,Saves on heating and cooling costs.,Australia,Perth,77.564133,41.825168,Bad,OCEANIA,0
hkc-4959632,Robert walker,Smart Watch,2020-02-19 07:38:18,67.007,Tracks fitness activity accurately.,Australia,Melbourne,77.564133,41.825168,Bad,OCEANIA,0

## Statistical Testing

In [60]:
# making a t-test with pandas and scipy
# t-test is a statistical test that is used to compare the means of two groups
from scipy.stats import ttest_ind

group1 = call_center_df['group1_scores']
group2 = call_center_df['group2_scores']

t_stat, p_value = ttest_ind(group1, group2)
print(f"T-statistic: {t_stat}, P-value: {p_value}")

KeyError: 'group1_scores'

In [ ]:
# making an ANOVA test with pandas and scipy
# ANOVA test is a statistical test that is used to compare the means of three or more groups
from scipy.stats import f_oneway

group1 = call_center_df[call_center_df['group_column'] == 'Group1']['scores_column']
group2 = call_center_df[call_center_df['group_column'] == 'Group2']['scores_column']
group3 = call_center_df[call_center_df['group_column'] == 'Group3']['scores_column']

f_stat, p_value = f_oneway(group1, group2, group3)  
print(f"F-statistic: {f_stat}, P-value: {p_value}")

In [ ]:
# making a chi-square test with pandas and scipy
# chi-square test is a statistical test that is used to compare the frequency of two or more groups
from scipy.stats import chi2_contingency

call_center_df['column1'] = call_center_df['column1'].astype('category')
call_center_df['column2'] = call_center_df['column2'].astype('category')

contingency_table = pd.crosstab(call_center_df['column1'], call_center_df['column2'])
chi2, p, dof, expected = chi2_contingency(contingency_table)

In [ ]:
# making a correlation validation with pandas 
# correlation is a statistical test that is used to measure the relationship between two variables
call_center_df.corr()

NameError: name 'call_center_df' is not defined

In [ ]:
# p-hacking example

In [ ]:
# p-hacking example with multiple testing

In [ ]:
# p-value example

In [ ]:
# p-value correction with Bonferroni